{% extends "Templates/page.html" %}


{% block content %}
<h3>About me</h3>
<p style="text-align:justify">
Simplicity is perfection. This website is the product of that line of thought. 
After fondling with very beautiful looking(and complicated) design and paradigms of 
website design came the revalation that maybe what I see good may not be so to others.
So, what you see is here. and no, I did not forget to load a css file!
<br>
<br>
The name is <b>Nithish Divakar</b> and I'm a wannabee research scholar and a coding enthusiast.
I like to make things and learn about things.
</p>

<br>
<h3>Links</h3>
  <p class="postlist">
    <a href="http://github.com/nithishdivakar">GitHub</a><br>
    <span class="postlist">All things I've made code wise</span>
  </p>


 <p class="postlist">
    <a href="https://fb.com/nithishdivakar">Facebook</a><br>
    <span class="postlist">The place where I dont post pictures of my outings</span>
  </p>


 <p class="postlist">
    <a href="https://www.quora.com/profile/NitHish-Divakar">Quora</a><br>
    <span class="postlist">The place where I ask question and answer a few(rearly)</span>
  </p>


 <p class="postlist">
    <a href="http://nithishdivakar.github.io">My website</a><br>
    <span class="postlist">Seems you are already here. still</span>
  </p>


 <p class="postlist">
  <a href="https://www.sharelatex.com/github/repos/nithishdivakar/Nithish-Resume/builds/latest/output.pdf">Resume</a><br>
    <span class="postlist">My bio, things ive done and was part of etc.[pdf file]</span>
  </p>

<br>
<h3>Some very interesting (and helpful) things</h3>
  <p class="postlist">
    <a href="data:text/html, <html contenteditable>">Instant Scratch pad</a><br>
    <span class="postlist">Turn this tab into a note taking scratch pad.</span>
  </p>

  <p class="postlist">
    <a href="http://devdocs.io/">Devdocs</a><br>
    <span class="postlist">Amazing things for quick code references. works offline too.</span>
  </p>

  <p class="postlist">
    <a href="http://www.marekrei.com/blog/theano-tutorial/">Theano tutorial</a><br>
    <span class="postlist">A good tutorial on theano. I wish I had this when I started out.</span>
  </p>

  <p class="postlist">
    <a href="http://keras.io">Keras</a><br>
    <span class="postlist">A very simple and powerfull machine learning framework</span>
  </p>

{% endblock %}
